<!-- layout.component.html -->

<div class="container-fluid">
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">AdminHub</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/auction']">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">My Store</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Analytics</span>
                </a> 
            </li>
            <li>
                <a [routerLink]="['/chat']">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">Messages</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-group'></i>
                    <span class="text">Team</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a  [routerLink]="['/update']">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <button (click)="logout()" class="logout-button">
                    Logout
                  </button>
                  
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" id ="search"placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
           
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch" (click)="themeService.toggleTheme()">
                <label class="form-check-label" for="themeSwitch">Dark Mode</label>
            </div>
            <!-- Theme switch checkbox and label -->
            <!-- <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode" (click)="themeService.toggleTheme()"></label> -->

          
            
            <p class="fw-bold mb-0 " style="color: white;">{{ member.full_name }}</p>

            <a href="#" class="profile">
                <img [src]="member.avatar_url" alt="User Avatar">
               
            </a>
            
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <div class="main-content">
            <!-- Your main content goes here -->
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- CONTENT -->
</div>
